{% extends "base.html" %}

{% block content %}
<h1>Написание сообщения</h1>
<form action="" method="post" name="simple" enctype="multipart/form-data">
    <div>{{ form.csrf_token }}</div>
    <p>
        {{ form.media.label }}<br>
        {{ form.media(class="form-control") }}
    {% for error in form.media.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
    {% endfor %}
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control") }}
    {% for error in form.content.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-dark") }}</p>
</form>
{% endblock %}